<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Usuários</title>
    </head>

    <body>
        <h1>Usuários Cadastrados</h1>

        <ul>
            <% users.forEach(user => { %>
            <li><%= user.username %></li>
            <% }) %>
        </ul>

        <br>

        <a href="/formulario">Cadastrar novo usuário</a>
    </body>
</html>